body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

header{
    background-color: #FFD900;
    height: 120px;
    
}

header img{
    margin-top: 28px;
    margin-left: 50px;
    width: 200px;
}

.reviva{
    
    text-align: center;
    
    width: 45%;
    background-color: #514988;
    

}

.reviva h1{
    font-size: 30pt;
    color: #F3C61F;
}

.reviva h3 {
    font-size: 22pt;
    padding-bottom: 15px;
    color: white;
}

.reviva p{
    font-size: 20pt;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.total{
    display: flex;
}

.timer{
    height: 60px;
    display: flex;
    
    justify-content: space-around;
           
    
}

.timer div{
    
    color: #514988;
    font-size: 25pt;
    
}

#maior{
    margin-top: 60px;
    text-align: center;
    color: #E33881;
    
}



figure { 
    
    width: 98%; 
    min-width: 320px; 
    margin:0 auto;
}

video {
    width: 100%;
    height: auto;
}




#ainda h3{
    margin-left: 100px;
    color:#F3C61F;

}

.final{
    width: 80%;
    justify-content:space-around;
    display: flex;
    align-items: center;
    
    
}

.cards{
    
    cursor: pointer;
    
}


button {
    margin-right: -200px;
    width: 500px;
    height: 100px;
    background-color:#514988;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;

}

button:hover{
    background-color: #FFD900;
}


